/**
* @file basic-theme.css
* @description This file defines the basic theme for the timeline editor, including default font settings and box-sizing rules.
* It serves as a foundation for styling the timeline editor and can be extended or overridden by custom themes.
**/


/**------------ Global Styles Start ---------------**/
:root {
    --vtd__theme-secondary-font-family: var(--vtd__primary-font-family, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif);
    --vtd__theme-primary-font-family: var(--vtd__primary-font-family, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif);

    /** Time Axis Colors **/
    --vtd__theme-time-axis-major-tick-color: var(--vtd__time-axis-major-tick-color, black);
    --vtd__theme-time-axis-minor-tick-color: var(--vtd__time-axis-minor-tick-color, black);
    --vtd__theme-time-axis-bg: var(--vtd__time-axis-bg, rgb(238, 238, 238));
}

.vtd, .vtd * {
    box-sizing: border-box;
    font-family: var(--vtd__theme-primary-font-family);
    margin: 0;
    padding: 0;
    line-height: normal;
    user-select: none;
    
}

/**------------ Global Styles End ---------------**/


/**------------ Time Axis Styles Start ---------------**/

.vtd__time-axis {
    background-color: var(--vtd__theme-time-axis-bg);
    height: 100%;
}

.vtd__time-axis-major-tick-content {
    border-left: 2px solid var(--vtd__theme-time-axis-major-tick-color);
    height: 15px;
}

.vtd__time-axis-minor-tick {
    border-left: 1px solid var(--vtd__theme-time-axis-minor-tick-color);
    height: 10px;
}

.vtd__time-axis-minor-center-tick {
    height: 15px;
}

.vtd__time-axis-major-tick-content {
    position: relative;
}

.vtd__time-axis-major-tick-label {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    position: absolute;
    top: 100%;
    left: -.3rem;
    font-size: 0.75rem;
    font-weight: 500;
    padding-top: .1rem;
    padding-bottom: .1rem;
}

.vtd__timeline-header-spacer {
    border-bottom: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
}

/**------------ Time Axis Styles End ---------------**/

/**------------ Row Axis Styles Start ---------------**/

.vtd__y-axis {
    background: white;
}

.vtd__row-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .75rem;
    font-weight: 500;
    border-right: 1px solid rgb(238, 238, 238);
}

.vtd__row-label:nth-child(odd) {
    background-color: rgb(248, 248, 248);
}

/**------------ Row Axis Styles End ---------------**/


/**------------ Row Styles Start ---------------**/

.vtd__row:nth-child(odd) {
    background-color: rgb(248, 248, 248);
}

.vtd__row-frame-container {
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.vtd__row-frame {
    background-color: rgb(238, 238, 238);
    height: 100%;
    padding: 10px;
    border-radius: 6px;
}

.vtd__row-frame-title {
    font-size: .75rem;
    font-weight: 500;
}

.vtd__row-frame-time {
    font-size: .75rem;
    color: rgb(120, 120, 120);
}

/**------------ Row Styles End ---------------**/ 