.vtd__time-axis {
    display: flex;
}

.vtd__time-axis-major-tick {
    display: flex;
}

.vtd__time-axis-minor-ticks {
    display: flex;
}

.vtd__time-axis-major-tick-content {
    position: relative;
}

.vtd__time-axis-major-tick-label {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    position: absolute;
    top: 100%;
    left: -2px;
}