.vtd__timeline-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.vtd__timeline-header {
    display: flex;
    flex-shrink: 0;
}

.vtd__timeline-header-spacer {
    flex-shrink: 0;
}

.vtd__timeline-header-main {
    flex: 1;
    overflow: hidden;
}

.vtd__timeline-body {
    display: flex;
    min-height: 0;
    flex: 1;
}

.vtd__timeline-y-axis-pane {
    flex-shrink: 0;
    overflow: hidden;
}

.vtd__x-axis {
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
}

.vtd__x-axis-y-axis-spacing {
    flex-shrink: 0;
}

.vtd__time-axis {
    display: flex;
    user-select: none;
    
}

.vtd__time-axis-major-tick {
    display: flex;
}

.vtd__time-axis-minor-ticks {
    display: flex;
}

.vtd__wrapper {
    overflow: auto;
    overscroll-behavior: none;
    flex: 1;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.vtd__wrapper::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}

.vtd__timeline-sections {
    flex-shrink: 0;
}

.vtd__timeline-editor-area {
    position: relative;
}

.vtd__row {
    position: relative;
}

.vtd__row-frame-container {
    position: absolute;
}